<a href="/main/alldowloadtask">下载数据</a>         <br/>
<a href="/main/stocksortbychangehand">换手率排序-</a>         <br/>
<a href="/main/macdgold">MACD金叉-</a>         <br/>
<a href="/main/mainin">主力五日连续增仓</a>         <br/>
<a href="/main/maininthreedays">主力连续增仓大于3天</a>         <br/>
<a href="/main/mainintwodays">主力连续增仓大于2天</a>         <br/>
<a href="/main/maininequaltwodays">主力连续增仓等于2天</a>         <br/>
<a href="/main/mainout">主力五日连续减仓</a>         <br/>
<a href="/main/downdays">五日均线向上跌幅排序</a>         <br/>
<a href="/main/mainpower">增仓1天连续减持4天</a>    <br/>

<div>
    大量股票的日换手率集中在1％-20％之间，大约70％的股票的日换手率低于3％。也就是说，3％是一个重要的分界，3％以下的换手率非常普通，通常表明没有较大的实力资金在其中运作。<br/>
    当一只股票的换手率在3％-7％之间时，该股已进入相对活跃状态，应该引起我们的注意。<br/>
    7％-10％的日换手率在强势股中经常出现，属于股价走势的高度活跃状态，一般来说，这些股票正在或者已经广为市场关注。<br/>
    换手率10％-15％的股票如果不是在上升的历史高价区或者见中长期顶的时段，则意味着强庄股的大举运作，若其后出现大幅的回调，在回调过程中满足日最小成交量或者成交量的1/3法则或1/10法则则可考虑适当介入。<br/>
    当一只股票出现超过15％的日换手率后，如果该股能够保持在当日密集成交区附近运行，则可能意味着该股后市具潜在的极大的上升能量，是超级强庄股的技术特征，因而后市有机会成为市场中的最大黑马！<br/>
</div>